:root {
    
}

body {
    font-family: Cambria,
    Cochin,
    Georgia,
    Times,
    'Times New Roman',
    serif;
}

h1 {
    font-size: 28px;
}

p {
    font-size: 18px;
    line-height: 1.5em;
    margin: 1em auto;
    max-width: 600px;
}

#visualization {
    background-image: url('/../assets/images/parchment.jpg');
    background-size: cover;
    background-position: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

